global
    log /dev/log local0
    maxconn 2000
    ca-base /etc/haproxy/certs

defaults
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend openbao_front
    mode tcp
    bind *:8200 ssl crt /etc/haproxy/certs/proxy-combined.pem
    bind *:443 ssl crt /etc/haproxy/certs/proxy-combined.pem
    default_backend openbao_leader

backend openbao_leader
    mode http
    option httpchk GET /v1/sys/health
    http-check expect status 200
    default-server inter 3s fall 2 rise 2
    server bao-01 192.168.253.30:8200 ssl verify required ca-file /etc/haproxy/certs/rootCA.pem check check-ssl
    server bao-02 192.168.253.31:8200 ssl verify required ca-file /etc/haproxy/certs/rootCA.pem check check-ssl
    server bao-03 192.168.253.32:8200 ssl verify required ca-file /etc/haproxy/certs/rootCA.pem check check-ssl

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
